# MQTT Config
MQTT_BROKER=192.168.129.131
MQTT_PORT=1883
MQTT_USER=spacecomms
MQTT_PASS=i2cati2cat
MQTT_TOPIC_PREFIX=devices/os_bru

# Minio Config
MINIO_ENDPOINT=84.88.36.22:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_this_to_a_long_password
MINIO_BUCKET=os-bru-images
MINIO_SECURE=false
